################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/TaskList/obj
/TaskList/bin
/.vs/ToDoアプリケーション/v16
/ToDoアプリケーション/bin
/ToDoアプリケーション/obj
