################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/TaskList/obj
/TaskList/bin
/.vs/ToDoManagement/v16
/ToDoManagement/bin
/ToDoManagement/obj
